<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Appointment Booking</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="header">
        APPOINTMENT BOOKING SYSTEM
    </div>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>